.logo-title {
  padding-top: 7.8px;
  padding-left: 5px;
}

button{
  color: red;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
  padding-right: 20px;
}

.navbar-collapse {
  padding-left: 30px;
}

.navbar-brand {
  padding-left: 10px;
}

.filtro {
  border: 0.5px solid black;
}

.card {
  border: 2px solid transparent; 
  border-image: linear-gradient(to bottom right, rgb(250, 0, 0), rgb(250, 250, 0), rgb(0, 250, 0), rgb(0, 250, 250), rgb(0, 0, 250), rgb(250, 0, 250), rgb(250, 0, 0)); 
  border-image-slice: 1; 
}

.newsletter-panel {
  width: 250px;
  border: 0.5px solid black;
  box-sizing: border-box;
}

.botao-pesquisa {
  color: whitesmoke;
  margin-left: 5px;
  width: 60px;
  height: 40px;
}

/* .card-img-top-fluid {
  height: 200px;
  width: 200px;
  margin-left: 85px;
} */


.form-control{
  border-radius: 10px;
}


.card shadow {
  display: flex;
}

.ajusteCarrosel {
  max-height: 500px;
  max-width: 500px;
  width: auto;
}

/* .carrossel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  height: auto;
} */

/* 
.carousel-item {
  width: 500px;
} */

.carousel {
  width: auto;
}

.carousel-control-next-icon{
  position: absolute;
  right: 0;
  border-radius: 10px;
  background-color: black;
  height: 50px;
}

.carousel-control-prev-icon{
  position: absolute;
  left: 0;
  border-radius: 8px;
  height: 50px;
  background-color: black;
}

.id {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .destaque{
  max-width: 200px;
  max-height: 200px;
} */

/* @media screen and (min-width: 541px) and (max-width: 619px){

  .card-body {
    font-size: 0.9rem;
    line-height: 1.3;
  }

 
}

@media screen and (min-width: 459px) and (max-width: 540px){


  .card-body {
    font-size: 0.9rem;
    line-height: 1.3;
  }  
}

@media screen and (min-width: 621px) and (max-width: 700px){
  .card-body {
    font-size: 0.9rem;
    line-height: 1.3;
  }

 
}

@media screen and (min-width: 701px) and (max-width: 995px){

  .card-body {
    font-size: 0.9rem;
    line-height: 1.3;
  }


}

@media screen and (min-width: 995px) and (max-width: 1323px){

  .card-body {
    font-size: 0.9rem;
    line-height: 1.3;
  }


}
@media screen and (min-width: 768px) and (max-width: 1050px){
  
}

@media screen and (min-width: 768px) and (max-width: 840px){

  .card {
    width: 145px;
  }
  
}


@media screen and (min-width: 841px) and (max-width: 960px){

  .card {
    width: 165px;
  }
  
}

@media screen and (min-width: 961px) and (max-width: 1045px){

  .card {
    width: 190px;
  }
  
}

@media screen and (min-width: 1320px) and (max-width: 1500px){

  
}

@media screen and (min-width: 1501px) and (max-width: 1659px){

  
} */
